/* Reseta margens e paddings */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Estiliza o contêiner principal */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

/* Limita a largura em telas grandes */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Ajuste para telas maiores */
@media (min-width: 1920px) {
  .container {
    max-width: 1600px; /* Expande o máximo conforme o desejado */
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 0 10vw;
  }
  .cuisine-type {
    padding: 0 10vw;
    font-size: 24px;
  }
}
